
			<!-- Header -->
				<div id="header" class="alt">
					<div class="container">

                    <!-- NavLeft -->
                    <nav id="navleft">
                        <ul>
                    <li><a href="#one">A Zion</a></li>
					<li><a href="#">Galeria</a></li>
					<li><a href="#">Preços</a></li></ul>
                        </nav>
							
						<!-- Logo -->
                        <div id="logo">
							<%= link_to root_path do %>
							
							<%= image_tag("logo.png") %>
							
							<% end %>
                        </div>
						
						<!-- Nav -->
							<nav id="nav">
                                <ul>
					<li><a href="#">Eventos</a></li>
					<li><a href="#">Croquiteca</a></li>
					<li><a href="#">Contato</a></li>
								</ul>
							</nav>
                        
	
					</div>
                    
                        <a href="#menu">Menu</a>
				</div>
        
            <!-- Nav -->
                <nav id="menu">
                    <ul class="links">
                    <li><a href="#">A Zion</a></li>
					<li><a href="#">Galeria</a></li>
					<li><a href="#">Preços</a></li>
                    <li><a href="#">Eventos</a></li>
					<li><a href="#">Croquiteca</a></li>
					<li><a href="#">Contato</a></li>
                    </ul>
                </nav>